<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <style>
    table {
       border-collapse:collapse;
       border: 2px #0080ff solid;
       }
       td, th {
       padding: 10px;
       border-bottom: 2px solid #8ebf42;
       border-radius: 5px;
       text-align: left;
       font-size: 18px;
       }
  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
</head>
<body>
    <h2>Facilities Information</h2>
  <table cellspacing="15", exclass="table table-striped">
  </table>
  <table>
    <tr>
      <th>order</th>
      <th>Address</th>
      <th>Description of Location</th>
      <th>Operation:Days</th>
      <th>Operations:Hours of Operation</th>
      <th>Point of Contact: Name</th>
      <th>Point of Contact: Phone</th>
      <th>Point of Contact: Mobile Phone</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>1</td>
      <td><%=@address1%></td>
      <td><%=@location1%></td>
      <td><%=@op_days1%></td>
      <td><%=@op_hours1%></td>
      <td><%=@poc_name1%></td>
      <td><%=@poc_phone1%></td>
      <td><%=@poc_cell1%></td>
      <td><%=@notes1%></td>
    </tr>
    <tr>
      <td>2</td>
      <td><%=@address2%></td>
      <td><%=@location2%></td>
      <td><%=@op_days2%></td>
      <td><%=@op_hours2%></td>
      <td><%=@poc_name2%></td>
      <td><%=@poc_phone2%></td>
      <td><%=@poc_cell2%></td>
      <td><%=@notes2%></td>
    </tr>
    <tr>
      <td>3</td>
      <td><%=@address3%></td>
      <td><%=@location3%></td>
      <td><%=@op_days3%></td>
      <td><%=@op_hours3%></td>
      <td><%=@poc_name3%></td>
      <td><%=@poc_phone3%></td>
      <td><%=@poc_cell3%></td>
      <td><%=@notes3%></td>
    </tr>
    <tr>
      <td>4</td>
      <td><%=@address4%></td>
      <td><%=@location4%></td>
      <td><%=@op_days4%></td>
      <td><%=@op_hours4%></td>
      <td><%=@poc_name4%></td>
      <td><%=@poc_phone4%></td>
      <td><%=@poc_cell4%></td>
      <td><%=@notes4%></td>
    </tr>
    <tr>
      <td>5</td>
      <td><%=@address5%></td>
      <td><%=@location5%></td>
      <td><%=@op_days5%></td>
      <td><%=@op_hours5%></td>
      <td><%=@poc_name5%></td>
      <td><%=@poc_phone5%></td>
      <td><%=@poc_cell5%></td>
      <td><%=@notes5%></td>
    </tr>
    <tr>
      <td>6</td>
      <td><%=@address6%></td>
      <td><%=@location6%></td>
      <td><%=@op_days6%></td>
      <td><%=@op_hours6%></td>
      <td><%=@poc_name6%></td>
      <td><%=@poc_phone6%></td>
      <td><%=@poc_cell6%></td>
      <td><%=@notes6%></td>
    </tr>
    <tr>
      <td>7</td>
      <td><%=@address7%></td>
      <td><%=@location7%></td>
      <td><%=@op_days7%></td>
      <td><%=@op_hours7%></td>
      <td><%=@poc_name7%></td>
      <td><%=@poc_phone7%></td>
      <td><%=@poc_cell7%></td>
      <td><%=@notes7%></td>
    </tr>
    <tr>
      <td>8</td>
      <td><%=@address8%></td>
      <td><%=@location8%></td>
      <td><%=@op_days8%></td>
      <td><%=@op_hours8%></td>
      <td><%=@poc_name8%></td>
      <td><%=@poc_phone8%></td>
      <td><%=@poc_cell8%></td>
      <td><%=@notes8%></td>
    </tr>
    <tr>
      <td>9</td>
      <td><%=@address9%></td>
      <td><%=@location9%></td>
      <td><%=@op_days9%></td>
      <td><%=@op_hours9%></td>
      <td><%=@poc_name9%></td>
      <td><%=@poc_phone9%></td>
      <td><%=@poc_cell9%></td>
      <td><%=@notes9%></td>
    </tr>
    <tr>
      <td>10</td>
      <td><%=@address10%></td>
      <td><%=@location10%></td>
      <td><%=@op_days10%></td>
      <td><%=@op_hours10%></td>
      <td><%=@poc_name10%></td>
      <td><%=@poc_phone10%></td>
      <td><%=@poc_cell10%></td>
      <td><%=@notes10%></td>
    </tr>
    <tr>
      <td>11</td>
      <td><%=@address11%></td>
      <td><%=@location11%></td>
      <td><%=@op_days11%></td>
      <td><%=@op_hours11%></td>
      <td><%=@poc_name11%></td>
      <td><%=@poc_phone11%></td>
      <td><%=@poc_cell11%></td>
      <td><%=@notes11%></td>
    </tr>
    <tr>
      <td>12</td>
      <td><%=@address12%></td>
      <td><%=@location12%></td>
      <td><%=@op_days12%></td>
      <td><%=@op_hours12%></td>
      <td><%=@poc_name12%></td>
      <td><%=@poc_phone12%></td>
      <td><%=@poc_cell12%></td>
      <td><%=@notes12%></td>
    </tr>
    <tr>
      <td>13</td>
      <td><%=@address13%></td>
      <td><%=@location13%></td>
      <td><%=@op_days13%></td>
      <td><%=@op_hours13%></td>
      <td><%=@poc_name13%></td>
      <td><%=@poc_phone13%></td>
      <td><%=@poc_cell13%></td>
      <td><%=@notes13%></td>
    </tr>
    <tr>
      <td>14</td>
      <td><%=@address14%></td>
      <td><%=@location14%></td>
      <td><%=@op_days14%></td>
      <td><%=@op_hours14%></td>
      <td><%=@poc_name14%></td>
      <td><%=@poc_phone14%></td>
      <td><%=@poc_cell14%></td>
      <td><%=@notes14%></td>
    </tr>
    <tr>
      <td>15</td>
      <td><%=@address15%></td>
      <td><%=@location15%></td>
      <td><%=@op_days15%></td>
      <td><%=@op_hours15%></td>
      <td><%=@poc_name15%></td>
      <td><%=@poc_phone15%></td>
      <td><%=@poc_cell15%></td>
      <td><%=@notes15%></td>
    </tr>
    <tr>
      <td>16</td>
      <td><%=@address16%></td>
      <td><%=@location16%></td>
      <td><%=@op_days16%></td>
      <td><%=@op_hours16%></td>
      <td><%=@poc_name16%></td>
      <td><%=@poc_phone16%></td>
      <td><%=@poc_cell16%></td>
      <td><%=@notes16%></td>
    </tr>
    <tr>
      <td>17</td>
      <td><%=@address17%></td>
      <td><%=@location17%></td>
      <td><%=@op_days17%></td>
      <td><%=@op_hours17%></td>
      <td><%=@poc_name17%></td>
      <td><%=@poc_phone17%></td>
      <td><%=@poc_cell17%></td>
      <td><%=@notes17%></td>
    </tr>
    <tr>
      <td>18</td>
      <td><%=@address18%></td>
      <td><%=@location18%></td>
      <td><%=@op_days18%></td>
      <td><%=@op_hours18%></td>
      <td><%=@poc_name18%></td>
      <td><%=@poc_phone18%></td>
      <td><%=@poc_cell18%></td>
      <td><%=@notes18%></td>
    </tr>
    <tr>
      <td>19</td>
      <td><%=@address19%></td>
      <td><%=@location19%></td>
      <td><%=@op_days19%></td>
      <td><%=@op_hours19%></td>
      <td><%=@poc_name19%></td>
      <td><%=@poc_phone19%></td>
      <td><%=@poc_cell19%></td>
      <td><%=@notes19%></td>
    </tr>
    <tr>
      <td>20</td>
      <td><%=@address20%></td>
      <td><%=@location20%></td>
      <td><%=@op_days20%></td>
      <td><%=@op_hours20%></td>
      <td><%=@poc_name20%></td>
      <td><%=@poc_phone20%></td>
      <td><%=@poc_cell20%></td>
      <td><%=@notes20%></td>
    </tr>
    <tr>
      <td>21</td>
      <td><%=@address21%></td>
      <td><%=@location21%></td>
      <td><%=@op_days21%></td>
      <td><%=@op_hours21%></td>
      <td><%=@poc_name21%></td>
      <td><%=@poc_phone21%></td>
      <td><%=@poc_cell21%></td>
      <td><%=@notes21%></td>
    </tr>
    <tr>
      <td>22</td>
      <td><%=@address22%></td>
      <td><%=@location22%></td>
      <td><%=@op_days22%></td>
      <td><%=@op_hours22%></td>
      <td><%=@poc_name22%></td>
      <td><%=@poc_phone22%></td>
      <td><%=@poc_cell22%></td>
      <td><%=@notes22%></td>
    </tr>
    <tr>
      <td>23</td>
      <td><%=@address23%></td>
      <td><%=@location23%></td>
      <td><%=@op_days23%></td>
      <td><%=@op_hours23%></td>
      <td><%=@poc_name23%></td>
      <td><%=@poc_phone23%></td>
      <td><%=@poc_cell23%></td>
      <td><%=@notes23%></td>
    </tr>
    <tr>
      <td>24</td>
      <td><%=@address24%></td>
      <td><%=@location24%></td>
      <td><%=@op_days24%></td>
      <td><%=@op_hours24%></td>
      <td><%=@poc_name24%></td>
      <td><%=@poc_phone24%></td>
      <td><%=@poc_cell24%></td>
      <td><%=@notes24%></td>
    </tr>
    <tr>
      <td>25</td>
      <td><%=@address25%></td>
      <td><%=@location25%></td>
      <td><%=@op_days25%></td>
      <td><%=@op_hours25%></td>
      <td><%=@poc_name25%></td>
      <td><%=@poc_phone25%></td>
      <td><%=@poc_cell25%></td>
      <td><%=@notes25%></td>
    </tr>
    <tr>
      <td>26</td>
      <td><%=@address26%></td>
      <td><%=@location26%></td>
      <td><%=@op_days26%></td>
      <td><%=@op_hours26%></td>
      <td><%=@poc_name26%></td>
      <td><%=@poc_phone26%></td>
      <td><%=@poc_cell26%></td>
      <td><%=@notes26%></td>
    </tr>
    <tr>
      <td>27</td>
      <td><%=@address27%></td>
      <td><%=@location27%></td>
      <td><%=@op_days27%></td>
      <td><%=@op_hours27%></td>
      <td><%=@poc_name27%></td>
      <td><%=@poc_phone27%></td>
      <td><%=@poc_cell27%></td>
      <td><%=@notes27%></td>
    </tr>
    <tr>
      <td>28</td>
      <td><%=@address28%></td>
      <td><%=@location28%></td>
      <td><%=@op_days28%></td>
      <td><%=@op_hours28%></td>
      <td><%=@poc_name28%></td>
      <td><%=@poc_phone28%></td>
      <td><%=@poc_cell28%></td>
      <td><%=@notes28%></td>
    </tr>
    <tr>
      <td>29</td>
      <td><%=@address29%></td>
      <td><%=@location29%></td>
      <td><%=@op_days29%></td>
      <td><%=@op_hours29%></td>
      <td><%=@poc_name29%></td>
      <td><%=@poc_phone29%></td>
      <td><%=@poc_cell29%></td>
      <td><%=@notes29%></td>
    </tr>
    <tr>
      <td>30</td>
      <td><%=@address30%></td>
      <td><%=@location30%></td>
      <td><%=@op_days30%></td>
      <td><%=@op_hours30%></td>
      <td><%=@poc_name30%></td>
      <td><%=@poc_phone30%></td>
      <td><%=@poc_cell30%></td>
      <td><%=@notes30%></td>
    </tr>
    <tr>
      <td>31</td>
      <td><%=@address31%></td>
      <td><%=@location31%></td>
      <td><%=@op_days31%></td>
      <td><%=@op_hours31%></td>
      <td><%=@poc_name31%></td>
      <td><%=@poc_phone31%></td>
      <td><%=@poc_cell31%></td>
      <td><%=@notes31%></td>
    </tr>
    <tr>
      <td>32</td>
      <td><%=@address32%></td>
      <td><%=@location32%></td>
      <td><%=@op_days32%></td>
      <td><%=@op_hours32%></td>
      <td><%=@poc_name32%></td>
      <td><%=@poc_phone32%></td>
      <td><%=@poc_cell32%></td>
      <td><%=@notes32%></td>
    </tr>
    <tr>
      <td>33</td>
      <td><%=@address33%></td>
      <td><%=@location33%></td>
      <td><%=@op_days33%></td>
      <td><%=@op_hours33%></td>
      <td><%=@poc_name33%></td>
      <td><%=@poc_phone33%></td>
      <td><%=@poc_cell33%></td>
      <td><%=@notes33%></td>
    </tr>
    <tr>
      <td>34</td>
      <td><%=@address34%></td>
      <td><%=@location34%></td>
      <td><%=@op_days34%></td>
      <td><%=@op_hours34%></td>
      <td><%=@poc_name34%></td>
      <td><%=@poc_phone34%></td>
      <td><%=@poc_cell34%></td>
      <td><%=@notes34%></td>
    </tr>
    <tr>
      <td>35</td>
      <td><%=@address35%></td>
      <td><%=@location35%></td>
      <td><%=@op_days35%></td>
      <td><%=@op_hours35%></td>
      <td><%=@poc_name35%></td>
      <td><%=@poc_phone35%></td>
      <td><%=@poc_cell35%></td>
      <td><%=@notes35%></td>
    </tr>
    <tr>
      <td>36</td>
      <td><%=@address36%></td>
      <td><%=@location36%></td>
      <td><%=@op_days36%></td>
      <td><%=@op_hours36%></td>
      <td><%=@poc_name36%></td>
      <td><%=@poc_phone36%></td>
      <td><%=@poc_cell36%></td>
      <td><%=@notes36%></td>
    </tr>
    <tr>
      <td>37</td>
      <td><%=@address37%></td>
      <td><%=@location37%></td>
      <td><%=@op_days37%></td>
      <td><%=@op_hours37%></td>
      <td><%=@poc_name37%></td>
      <td><%=@poc_phone37%></td>
      <td><%=@poc_cell37%></td>
      <td><%=@notes37%></td>
    </tr>
    <tr>
      <td>38</td>
      <td><%=@address38%></td>
      <td><%=@location38%></td>
      <td><%=@op_days38%></td>
      <td><%=@op_hours38%></td>
      <td><%=@poc_name38%></td>
      <td><%=@poc_phone38%></td>
      <td><%=@poc_cell38%></td>
      <td><%=@notes38%></td>
    </tr>
    <tr>
      <td>39</td>
      <td><%=@address39%></td>
      <td><%=@location39%></td>
      <td><%=@op_days39%></td>
      <td><%=@op_hours39%></td>
      <td><%=@poc_name39%></td>
      <td><%=@poc_phone39%></td>
      <td><%=@poc_cell39%></td>
      <td><%=@notes39%></td>
    </tr>
    <tr>
      <td>40</td>
      <td><%=@address40%></td>
      <td><%=@location40%></td>
      <td><%=@op_days40%></td>
      <td><%=@op_hours40%></td>
      <td><%=@poc_name40%></td>
      <td><%=@poc_phone40%></td>
      <td><%=@poc_cell40%></td>
      <td><%=@notes40%></td>
    </tr>
    <tr>
      <td>41</td>
      <td><%=@address41%></td>
      <td><%=@location41%></td>
      <td><%=@op_days41%></td>
      <td><%=@op_hours41%></td>
      <td><%=@poc_name41%></td>
      <td><%=@poc_phone41%></td>
      <td><%=@poc_cell41%></td>
      <td><%=@notes41%></td>
    </tr>
    <tr>
      <td>42</td>
      <td><%=@address42%></td>
      <td><%=@location42%></td>
      <td><%=@op_days42%></td>
      <td><%=@op_hours42%></td>
      <td><%=@poc_name42%></td>
      <td><%=@poc_phone42%></td>
      <td><%=@poc_cell42%></td>
      <td><%=@notes42%></td>
    </tr>
    <tr>
      <td>43</td>
      <td><%=@address43%></td>
      <td><%=@location43%></td>
      <td><%=@op_days43%></td>
      <td><%=@op_hours43%></td>
      <td><%=@poc_name43%></td>
      <td><%=@poc_phone43%></td>
      <td><%=@poc_cell43%></td>
      <td><%=@notes43%></td>
    </tr>
  </table>
  </html>
