<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <div class="w3-container w3-blue">
    <h2>Asset: Cart Warranty Search Result</h2>
  </div>
  <div class="w3-container w3-card">
    <% if @cart == nil %>
        <h3>Cart warranty HAS EXPIRED</h3>
    <% else%>
         <br>Cart Number <%=@cart.cart_number%> is UNDER WARRANTY.</br>
           <br>Cart Warranty Expiration Date: <%=@request.warranty%> </br>
           <br>Cart Purchase Order Number: <%=@request.po%> </br>
           <br>Cart Order Number: <%=@request.orderNum%> </br>
           <br>Cart Item Number: <%=@request.itemNum%> </br>
           <br>Cart Item Description: <%=@request.itemDesc%> </br>
  <div class="w3-container w3-card">
           <br>Please Contact 311 and provide:</br>
           <br>1. your solid waste service unit address</br>
           <br>2. your container number: <%=@cart.cart_number%></br>
           <br>3. your response to replaced_body is: <%=@cart.replaced_body%></br>
           <br>4. your response to replaced_lid is: <%=@cart.replaced_lid%></br>
           <br>5. your response to replaced_wheel is: <%=@cart.replaced_wheel%></br>
           <br>6. your response to repaired_body is: <%=@cart.repaired_body%></br>
           <br>7. your response to repaired_lid is: <%=@cart.repaired_lid%></br>
           <br>8. your response to repaired_wheel is: <%=@cart.repaired_wheel%></br>
           <br>9. your response to consumption type is: <%=@cart.consumption_type%></br>
           <br>10. your response to 311 Sr# is: <%=@cart.cart_sr_number%></br>
    <% end%>
  </div>
  <p> click here to perform a new cart warranty search
    =><%= link_to "New Cart Search", new_cart_path,  method: :get %></p>
</body>
</html>
