<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<%= form_for @cart do |cart_form| %>
<%# <%binding.pry%>
<div class="w3-container w3-blue">
<h2 style="color: blue;">Toter Carts Only</h2>
<p>Instruction:</p>
<p>1) System only applies to carts starting with "SS0",</p>
<p>then it will require you to enter the remaining
  Last Six Digits ONLY,</p>
<p>i.e.("for SS0123456, Enter 123456")</p>
<p>2) Available numbers are from number 0 to 534480</p>
</div>
<p> "please enter your cart number in this box"<%= cart_form.text_field :cart_number%></p>
<div class="w3-container w3-blue">
<p>Instructions for Repair/Replace Cart:</p>
<p>1) Pick from any combination of the following six
  Options:</p>
</div>
  <br> Replace Options</br>
<div>
  <ul>
    <br><%= cart_form.label "1) Replaced Body Option"%></br>
    <li><%= cart_form.select :replaced_body, Cart.replaced_bodies.keys,
    id: :item_replaced_body, prompt: 'select an option'%></li>

    <br><%= cart_form.label "2) Replaced Lid Option"%></br>
    <li><%= cart_form.select :replaced_lid, Cart.replaced_lids.keys,
    id: :item_replaced_lid, prompt: 'select an option'%></li>

    <br><%= cart_form.label "3) Replaced Wheel Option"%></br>
    <li><%= cart_form.select :replaced_wheel, Cart.replaced_wheels.keys,
    id: :item_replaced_wheel, prompt: 'select an option'%></li>
  </ul>
</div>
<div>
    <br> Repair Options</br>
</div>
<div>
<ul>
    <br><%= cart_form.label "4) Repaired Body Option"%></br>
    <li><%= cart_form.select :repaired_body, Cart.repaired_bodies.keys,
    id: :item_repaired_body, prompt: 'select an option'%></li>

    <br><%= cart_form.label "5) Repaired Lid Option"%></br>
    <li><%= cart_form.select :repaired_lid, Cart.repaired_lids.keys,
    id: :item_repaired_lid, prompt: 'select an option'%></li>

    <br><%= cart_form.label "6) Repaired Wheel Option"%></br>
    <li><%= cart_form.select :repaired_wheel, Cart.repaired_wheels.keys,
    id: :item_repaired_wheel, prompt: 'select an option'%></li>
</div>

<br><%= cart_form.submit "create cart" %></br>
<!-- <binding.pry %> -->
<% end %>
</body>
</html>
