<tr>
  <td>New Move In Service</td>
  <td><%=@NewMoveInService_cans_related_list_FY2020%></td>
  <td><%=@NewMoveInService_cans_related_list_FY2019%></td>
  <td><%=@NewMoveInService_cans_related_list_FY2018%></td>
  <td><%=@NewMoveInService_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>Add A Can</td>
  <td><%=@AddACanFY2020%></td>
  <td><%=@AddACanFY2019%></td>
  <td><%=@AddACanFY2018%></td>
  <td><%=@AddACanFY2017%></td>
</tr>
<tr>
  <td>Add A Can CANCELLATION</td>
  <td><%=@AddACanCANCELLATION_cans_related_list_FY2020%></td>
  <td><%=@AddACanCANCELLATION_cans_related_list_FY2019%></td>
  <td><%=@AddACanCANCELLATION_cans_related_list_FY2018%></td>
  <td><%=@AddACanCANCELLATION_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>Add A Cart</td>
  <td><%=@AddACart_cans_related_list_FY2020%></td>
  <td><%=@AddACart_cans_related_list_FY2019%></td>
  <td><%=@AddACart_cans_related_list_FY2018%></td>
  <td><%=@AddACart_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>Add A Cart CANCELLATION</td>
  <td><%=@AddACartCANCELLATION_cans_related_list_FY2020%></td>
  <td><%=@AddACartCANCELLATION_cans_related_list_FY2019%></td>
  <td><%=@AddACartCANCELLATION_cans_related_list_FY2018%></td>
  <td><%=@AddACartCANCELLATION_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>Container Problem</td>
  <td><%=@ContainerProblem_cans_related_list_FY2020%></td>
  <td><%=@ContainerProblem_cans_related_list_FY2019%></td>
  <td><%=@ContainerProblem_cans_related_list_FY2018%></td>
  <td><%=@ContainerProblem_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>New Resident Container</td>
  <td><%=@NewResidentContainer_cans_related_list_FY2020%></td>
  <td><%=@NewResidentContainer_cans_related_list_FY2019%></td>
  <td><%=@NewResidentContainer_cans_related_list_FY2018%></td>
  <td><%=@NewResidentContainer_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>Recycle Bin Cart Retrieve</td>
  <td><%=@RecycleBinCartRetrieve_cans_related_list_FY2020%></td>
  <td><%=@RecycleBinCartRetrieve_cans_related_list_FY2019%></td>
  <td><%=@RecycleBinCartRetrieve_cans_related_list_FY2018%></td>
  <td><%=@RecycleBinCartRetrieve_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>Recycling Cart Repair or Replace</td>
  <td><%=@RecyclingCartRepairorReplace_cans_related_list_FY2020%></td>
  <td><%=@RecyclingCartRepairorReplace_cans_related_list_FY2019%></td>
  <td><%=@RecyclingCartRepairorReplace_cans_related_list_FY2018%></td>
  <td><%=@RecyclingCartRepairorReplace_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>Recycling Participation NEW</td>
  <td><%=@RecyclingParticipationNEW_cans_related_list_FY2020%></td>
  <td><%=@RecyclingParticipationNEW_cans_related_list_FY2019%></td>
  <td><%=@RecyclingParticipationNEW_cans_related_list_FY2018%></td>
  <td><%=@RecyclingParticipationNEW_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>Unauthorized Container Retrieval</td>
  <td><%=@UnauthorizedContainerRetrieval_cans_related_list_FY2020%></td>
  <td><%=@UnauthorizedContainerRetrieval_cans_related_list_FY2019%></td>
  <td><%=@UnauthorizedContainerRetrieval_cans_related_list_FY2018%></td>
  <td><%=@UnauthorizedContainerRetrieval_cans_related_list_FY2017%></td>
</tr>
<tr>
  <td>SWM Escalation</td>
  <td><%=@SWM_Escalation_cans_related_list_FY2020%></td>
  <td><%=@SWM_Escalation_cans_related_list_FY2019%></td>
  <td><%=@SWM_Escalation_cans_related_list_FY2018%></td>
  <td><%=@SWM_Escalation_cans_related_list_FY2017%></td>
</tr>
