<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
</head>
<body>
    <h2>Monthly Quality Report</h2>
  <table cellspacing="15", exclass="table table-striped">
    <tr>
      <th>Category</th>
      <th>August 2019</th>
      <th>September 2019</th>
      <th>October 2019</th>
      <th>November 2019</th>
      <th>December 2019</th>
      <th>January 2020</th>
      <th>February 2020</th>
      <th>March 2020</th>
      </tr>
    <tr>
      <td>SW:Number of Srs: Created by Resident and Updated by Quad</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%=@deptSWwide_jan_2020_sla_updated_cases%></td>
      <td><%=@deptSWwide_feb_2020_sla_updated_cases%></td>
      <td><%=@deptSWwide_mar_2020_sla_updated_cases%></td>
    </tr>
    <tr>
      <td>SW:Number of Srs: Created by Resident And Closed by Quad</td>
      <td><%=@deptSWwide_aug_2019_sla_due_cases%></td>
      <td><%=@deptSWwide_sept_2019_sla_due_cases%></td>
      <td><%=@deptSWwide_oct_2019_sla_due_cases%></td>
      <td><%=@deptSWwide_nov_2019_sla_due_cases%></td>
      <td><%=@deptSWwide_dec_2019_sla_due_cases%></td>
      <td><%=@deptSWwide_jan_2020_sla_due_cases%></td>
      <td><%=@deptSWwide_feb_2020_sla_due_cases%></td>
      <td><%=@deptSWwide_mar_2020_sla_due_cases%></td>
    <tr>
      <td>SW:Number Srs: SLA Due during the Month and Closed by Quad</td>
      <td><%=@deptSWwide_aug_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSWwide_sept_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSWwide_oct_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSWwide_nov_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSWwide_dec_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSWwide_jan_2020_actual_due_and_closed_cases%></td>
      <td><%=@deptSWwide_feb_2020_actual_due_and_closed_cases%></td>
      <td><%=@deptSWwide_mar_2020_actual_due_and_closed_cases%></td>
    <tr>
      <td>SW:Grade</td>
      <td><%=@deptSWWide_aug_2019_grade%></td>
      <td><%=@deptSWWide_sept_2019_grade%></td>
      <td><%=@deptSWWide_oct_2019_grade%></td>
      <td><%=@deptSWWide_nov_2019_grade%></td>
      <td><%=@deptSWWide_dec_2019_grade%></td>
      <td><%=@deptSWWide_jan_2020_grade%></td>
      <td><%=@deptSWWide_feb_2020_grade%></td>
      <td><%=@deptSWWide_mar_2020_grade%></td>
    </tr>
    <tr>
      <td>NW:Number of Srs: Created by Resident and Updated by Quad</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%=@deptNWwide_mar_2020_sla_updated_cases%></td>
    </tr>
    <tr>
      <td>NW:Number of Srs: Created by Resident And Closed by Quad</td>
      <td><%=@deptNWwide_aug_2019_sla_due_cases%></td>
      <td><%=@deptNWwide_sept_2019_sla_due_cases%></td>
      <td><%=@deptNWwide_oct_2019_sla_due_cases%></td>
      <td><%=@deptNWwide_nov_2019_sla_due_cases%></td>
      <td><%=@deptNWwide_dec_2019_sla_due_cases%></td>
      <td><%=@deptNWwide_jan_2020_sla_due_cases%></td>
      <td><%=@deptNWwide_feb_2020_sla_due_cases%></td>
      <td><%=@deptNWwide_mar_2020_sla_due_cases%></td>
    <tr>
      <td>NW:Number Srs: SLA Due during the Month and Closed by Quad</td>
      <td><%=@deptNWwide_aug_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNWwide_sept_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNWwide_oct_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNWwide_nov_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNWwide_dec_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNWwide_jan_2020_actual_due_and_closed_cases%></td>
      <td><%=@deptNWwide_feb_2020_actual_due_and_closed_cases%></td>
      <td><%=@deptNWwide_mar_2020_actual_due_and_closed_cases%></td>
    <tr>
      <td>NW:Grade</td>
      <td><%=@deptNWWide_aug_2019_grade%></td>
      <td><%=@deptNWWide_sept_2019_grade%></td>
      <td><%=@deptNWWide_oct_2019_grade%></td>
      <td><%=@deptNWWide_nov_2019_grade%></td>
      <td><%=@deptNWWide_dec_2019_grade%></td>
      <td><%=@deptNWWide_jan_2020_grade%></td>
      <td><%=@deptNWWide_feb_2020_grade%></td>
      <td><%=@deptNWWide_mar_2020_grade%></td>
    </tr>
    <tr>
      <td>SE:Number of Srs: Created by Resident and Updated by Quad</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%=@deptSEwide_mar_2020_sla_updated_cases%></td>
    </tr>
    <tr>
      <td>SE:Number of Srs: Created by Resident And Closed by Quad</td>
      <td><%=@deptSEwide_aug_2019_sla_due_cases%></td>
      <td><%=@deptSEwide_sept_2019_sla_due_cases%></td>
      <td><%=@deptSEwide_oct_2019_sla_due_cases%></td>
      <td><%=@deptSEwide_nov_2019_sla_due_cases%></td>
      <td><%=@deptSEwide_dec_2019_sla_due_cases%></td>
      <td><%=@deptSEwide_jan_2020_sla_due_cases%></td>
      <td><%=@deptSEwide_feb_2020_sla_due_cases%></td>
      <td><%=@deptSEwide_mar_2020_sla_due_cases%></td>
    <tr>
      <td>SE:Number Srs: SLA Due during the Month and Closed by Quad</td>
      <td><%=@deptSEwide_aug_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSEwide_sept_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSEwide_oct_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSEwide_nov_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSEwide_dec_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptSEwide_jan_2020_actual_due_and_closed_cases%></td>
      <td><%=@deptSEwide_feb_2020_actual_due_and_closed_cases%></td>
      <td><%=@deptSEwide_mar_2020_actual_due_and_closed_cases%></td>
    <tr>
      <td>SE:Grade</td>
      <td><%=@deptSEWide_aug_2019_grade%></td>
      <td><%=@deptSEWide_sept_2019_grade%></td>
      <td><%=@deptSEWide_oct_2019_grade%></td>
      <td><%=@deptSEWide_nov_2019_grade%></td>
      <td><%=@deptSEWide_dec_2019_grade%></td>
      <td><%=@deptSEWide_jan_2020_grade%></td>
      <td><%=@deptSEWide_feb_2020_grade%></td>
      <td><%=@deptSEWide_mar_2020_grade%></td>
    </tr>
    <tr>
      <td>NE:Number of Srs: Created by Resident And Closed by Quad</td>
      <td><%=@deptNEwide_aug_2019_sla_due_cases%></td>
      <td><%=@deptNEwide_sept_2019_sla_due_cases%></td>
      <td><%=@deptNEwide_oct_2019_sla_due_cases%></td>
      <td><%=@deptNEwide_nov_2019_sla_due_cases%></td>
      <td><%=@deptNEwide_dec_2019_sla_due_cases%></td>
      <td><%=@deptNEwide_jan_2020_sla_due_cases%></td>
      <td><%=@deptNEwide_feb_2020_sla_due_cases%></td>
      <td><%=@deptNEwide_mar_2020_sla_due_cases%></td>
    <tr>
      <td>NE:Number Srs: SLA Due during the Month and Closed by Quad</td>
      <td><%=@deptNEwide_aug_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNEwide_sept_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNEwide_oct_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNEwide_nov_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNEwide_dec_2019_actual_due_and_closed_cases%></td>
      <td><%=@deptNEwide_jan_2020_actual_due_and_closed_cases%></td>
      <td><%=@deptNEwide_feb_2020_actual_due_and_closed_cases%></td>
      <td><%=@deptNEwide_mar_2020_actual_due_and_closed_cases%></td>
    <tr>
      <td>NE:Grade</td>
      <td><%=@deptNEWide_aug_2019_grade%></td>
      <td><%=@deptNEWide_sept_2019_grade%></td>
      <td><%=@deptNEWide_oct_2019_grade%></td>
      <td><%=@deptNEWide_nov_2019_grade%></td>
      <td><%=@deptNEWide_dec_2019_grade%></td>
      <td><%=@deptNEWide_jan_2020_grade%></td>
      <td><%=@deptNEWide_feb_2020_grade%></td>
      <td><%=@deptNEWide_mar_2020_grade%></td>
    </tr>
  </table>
  </html>
