<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <style>
    table {
       border-collapse:collapse;
       border: 2px #0080ff solid;
       }
       td, th {
       padding: 10px;
       border-bottom: 2px solid #8ebf42;
       border-radius: 5px;
       text-align: left;
       font-size: 18px;
       }
  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
</head>
<body>
    <h2>Open Service Requests by Days (from -30 to +375 in five (5) intervals) under/over SLA</h2>
  <table cellspacing="15", exclass="table table-striped">
  </table>
  <table>
    <tr>
      <th>Service Type Categories</th>
      <th>Between -30 to -0.05 UNDER SLA</th>
      <th>Between 0 to 60 OVER SLA</th>
      <th>Between 61 to 120 OVER SLA</th>
      <th>Between 121 to 240 OVER SLA</th>
      <th>Between 241 to 375 OVER SLA</th>
    </tr>
    <tr>
      <td>Missed Heavy Trash Pickup</td>
      <td><%=@cityWideMinus30To0_Over_for_missed_hvy%></td>
      <td><%=@cityWide30To60Over_for_missed_hvy%></td>
      <td><%=@cityWide61To120Over_for_missed_hvy%></td>
      <td><%=@cityWide121To240Over_for_missed_hvy%></td>
      <td><%=@cityWide241To375Over_for_missed_hvy%></td>
    </tr>
    <tr>
      <td>Container Problem</td>
      <td><%=@cityWideMinus30To0_Over_for_container_problem%></td>
      <td><%=@cityWide30To60Over_for_container_problem%></td>
      <td><%=@cityWide61To120Over_for_container_problem%></td>
      <td><%=@cityWide121To240Over_for_container_problem%></td>
      <td><%=@cityWide241To375Over_for_container_problem%></td>
    </tr>
    <tr>
      <td>Recycling Participation NEW</td>
      <td><%=@cityWideMinus30To0_Over_for_recycling_new%></td>
      <td><%=@cityWide30To60Over_for_recycling_new%></td>
      <td><%=@cityWide61To120Over_for_recycling_new%></td>
      <td><%=@cityWide121To240Over_for_recycling_new%></td>
      <td><%=@cityWide241To375Over_for_recycling_new%></td>
    </tr>
    <tr>
      <td>Recycling Cart Repair or Replace</td>
      <td><%=@cityWideMinus30To0_Over_for_recycling_o_m%></td>
      <td><%=@cityWide30To60Over_for_recycling_o_m%></td>
      <td><%=@cityWide61To120Over_for_recycling_o_m%></td>
      <td><%=@cityWide121To240Over_for_recycling_o_m%></td>
      <td><%=@cityWide241To375Over_for_recycling_o_m%></td>
    </tr>
    <tr>
      <td>Missed Garbage Pickup</td>
      <td><%=@cityWideMinus30To0_Over_for_missed_garbage%></td>
      <td><%=@cityWide30To60Over_for_missed_garbage%></td>
      <td><%=@cityWide61To120Over_for_missed_garbage%></td>
      <td><%=@cityWide121To240Over_for_missed_garbage%></td>
      <td><%=@cityWide241To375Over_for_missed_garbage%></td>
    </tr>
    <tr>
      <td>Trash Dumping or Illegal Dumpsite</td>
      <td><%=@cityWideMinus30To0_Over_for_dump_site%></td>
      <td><%=@cityWide30To60Over_for_dump_site%></td>
      <td><%=@cityWide61To120Over_for_dump_site%></td>
      <td><%=@cityWide121To240Over_for_dump_site%></td>
      <td><%=@cityWide241To375Over_for_dump_site%></td>
    </tr>
    <tr>
      <td>Add A Can</td>
      <td><%=@cityWideMinus30To0_Over_for_add_a_can%></td>
      <td><%=@cityWide30To60Over_for_add_a_can%></td>
      <td><%=@cityWide61To120Over_for_add_a_can%></td>
      <td><%=@cityWide121To240Over_for_add_a_can%></td>
      <td><%=@cityWide241To375Over_for_add_a_can%></td>
    </tr>
    <tr>
      <td>Missed Recycling Pickup</td>
      <td><%=@cityWideMinus30To0_Over_for_missed_recycle_pu%></td>
      <td><%=@cityWide30To60Over_for_missed_recycle_pu%></td>
      <td><%=@cityWide61To120Over_for_missed_recycle_pu%></td>
      <td><%=@cityWide121To240Over_for_missed_recycle_pu%></td>
      <td><%=@cityWide241To375Over_for_missed_recycle_pu%></td>
    </tr>
    <tr>
      <td>Dead Animal Collection</td>
      <td><%=@cityWideMinus30To0_Over_for_dead_animal_pu%></td>
      <td><%=@cityWide30To60Over_for_dead_animal_pu%></td>
      <td><%=@cityWide61To120Over_for_dead_animal_pu%></td>
      <td><%=@cityWide121To240Over_for_dead_animal_pu%></td>
      <td><%=@cityWide241To375Over_for_dead_animal_pu%></td>
    </tr>
    <tr>
      <td>Personnel or Vehicle Complaint</td>
      <td><%=@cityWideMinus30To0_Over_for_vehicle_complaint%></td>
      <td><%=@cityWide30To60Over_for_vehicle_complaint%></td>
      <td><%=@cityWide61To120Over_for_vehicle_complaint%></td>
      <td><%=@cityWide121To240Over_for_vehicle_complaint%></td>
      <td><%=@cityWide241To375Over_for_vehicle_complaint%></td>
    </tr>
    <tr>
      <td>Property Damage</td>
      <td><%=@cityWideMinus30To0_Over_for_prop_damage%></td>
      <td><%=@cityWide30To60Over_for_prop_damage%></td>
      <td><%=@cityWide61To120Over_for_prop_damage%></td>
      <td><%=@cityWide121To240Over_for_prop_damage%></td>
      <td><%=@cityWide241To375Over_for_prop_damage%></td>
    </tr>
    <tr>
      <td>Dumpster Complaint</td>
      <td><%=@cityWideMinus30To0_Over_for_dumpster_complaint%></td>
      <td><%=@cityWide30To60Over_for_dumpster_complaint%></td>
      <td><%=@cityWide61To120Over_for_dumpster_complaint%></td>
      <td><%=@cityWide121To240Over_for_dumpster_complaint%></td>
      <td><%=@cityWide241To375Over_for_dumpster_complaint%></td>
    </tr>
    <tr>
      <td>SWM Information</td>
      <td><%=@cityWideMinus30To0_Over_for_SWM_Information%></td>
      <td><%=@cityWide30To60Over_for_SWM_Information%></td>
      <td><%=@cityWide61To120Over_for_SWM_Information%></td>
      <td><%=@cityWide121To240Over_for_SWM_Information%></td>
      <td><%=@cityWide241To375Over_for_SWM_Information%></td>
    </tr>
    <tr>
      <td>Missed Yard Waste</td>
      <td><%=@cityWideMinus30To0_Over_for_missed_yd%></td>
      <td><%=@cityWide30To60Over_for_missed_yd%></td>
      <td><%=@cityWide61To120Over_for_missed_yd%></td>
      <td><%=@cityWide121To240Over_for_missed_yd%></td>
      <td><%=@cityWide241To375Over_for_missed_yd%></td>
    </tr>
  </table>
  </html>
