<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
</head>
  <body>
      <h2>Executive Summary Report</h2>
    <table cellspacing="15", exclass="table table-striped">
      <tr>
        <th>Area</th>
        <th>Service Requests Total</th>
        <th>Overdue</th>
        <th>%Overdue</th>
        <th>%NotOverdue</th>
        <th>Quality Grade</th>
      </tr>
      <tr><td>North</td><td><%=@North%></td><td><%=@NorthOverdue%></td><td><%=@PercentOverdueNorth%></td><td><%=@PercentNotOverdueNorth%></td><td><%=@NorthQualityGrade%></td></tr>
      <tr><td>South</td><td><%=@South%></td><td><%=@SouthOverdue%></td><td><%=@PercentOverdueSouth%></td><td><%=@PercentNotOverdueSouth%></td><td><%=@SouthQualityGrade%></td></tr>
    </table>
    <table>
    <h3>Southwest Quadrant</h3>
        <tr>
          <th>Service Request Type</th>
          <th>SW-Total SR</th>
          <th>SW-Outstanding</th>
          <th>SW-%Overdue</th>
          <th>SW-Not Overdue</th>
          <th>SW-Grade</th>
        </tr>
        <% binding.pry %>
        <tr><td>Missed Heavy Trash Pickup</td><td><%=@missedHvySWTotal%></td><td><%=@missedHvySWOverdue%></td><td><%=@missedHvySWPercentOverdue%></td><td><%=@missedHvySWPercentNotOverdue%></td><td><%=@missedHvySWGrade%></td></tr>
        <tr><td>Container Problem</td></tr>
        <tr><td>New Resident Container</td></tr>
        <tr><td>Recycling Participation NEW</td></tr>
        <tr><td>Recycling Cart Repair or Replace</td></tr>
        <tr><td>SWM Escalation</td></tr>
        <tr><td>Missed Garbage Pickup</td></tr>
        <tr><td>Trash Dumping or Illegal Dumpsite</td></tr>
        <tr><td>Add A Can</td></tr>
        <tr><td>Storm Debris Collection</td></tr>
        <tr><td>Dead Animal Collection</td></tr>
        <tr><td>Add A Can CANCELLATION</td></tr>
        <tr><td>Personnel or Vehicle Complaint</td></tr>
        <tr><td>Physically Challenged Pickup</td></tr>
    </table>
    <table>
      <h3>Southeast Quadrant</h3>
      <tr>
        <th>Service Request Type</th>
        <th>SE-Total SR</th>
        <th>SE-Outstanding</th>
        <th>SE-%Overdue</th>
        <th>SE-Not Overdue</th>
        <th>SE-Grade</th>
      </tr>
      <tr><td>Missed Heavy Trash Pickup</td></tr>
      <tr><td>Container Problem</td></tr>
      <tr><td>New Resident Container</td></tr>
      <tr><td>Recycling Participation NEW</td></tr>
      <tr><td>Recycling Cart Repair or Replace</td></tr>
      <tr><td>SWM Escalation</td></tr>
      <tr><td>Missed Garbage Pickup</td></tr>
      <tr><td>Trash Dumping or Illegal Dumpsite</td></tr>
      <tr><td>Add A Can</td></tr>
      <tr><td>Storm Debris Collection</td></tr>
      <tr><td>Dead Animal Collection</td></tr>
      <tr><td>Add A Can CANCELLATION</td></tr>
      <tr><td>Personnel or Vehicle Complaint</td></tr>
      <tr><td>Physically Challenged Pickup</td></tr>
    </table>
    <table>
      <h3>Northeast Quadrant</h3>
      <tr>
        <th>Service Request Type</th>
        <th>NE-Total SR</th>
        <th>NE-Outstanding</th>
        <th>NE-%Overdue</th>
        <th>NE-Not Overdue</th>
        <th>NE-Grade</th>
      </tr>
      <tr><td>Missed Heavy Trash Pickup</td></tr>
      <tr><td>Container Problem</td></tr>
      <tr><td>New Resident Container</td></tr>
      <tr><td>Recycling Participation NEW</td></tr>
      <tr><td>Recycling Cart Repair or Replace</td></tr>
      <tr><td>SWM Escalation</td></tr>
      <tr><td>Missed Garbage Pickup</td></tr>
      <tr><td>Trash Dumping or Illegal Dumpsite</td></tr>
      <tr><td>Add A Can</td></tr>
      <tr><td>Storm Debris Collection</td></tr>
      <tr><td>Dead Animal Collection</td></tr>
      <tr><td>Add A Can CANCELLATION</td></tr>
      <tr><td>Personnel or Vehicle Complaint</td></tr>
      <tr><td>Physically Challenged Pickup</td></tr>
    </table>
    <table>
      <h3>Northwest Quadrant</h3>
      <tr>
        <th>Service Request Type</th>
        <th>NW-Total SR</th>
        <th>NW-Outstanding</th>
        <th>NW-%Overdue</th>
        <th>NW-Not Overdue</th>
        <th>NW-Grade</th>
      </tr>
      <tr><td>Missed Heavy Trash Pickup</td></tr>
      <tr><td>Container Problem</td></tr>
      <tr><td>New Resident Container</td></tr>
      <tr><td>Recycling Participation NEW</td></tr>
      <tr><td>Recycling Cart Repair or Replace</td></tr>
      <tr><td>SWM Escalation</td></tr>
      <tr><td>Missed Garbage Pickup</td></tr>
      <tr><td>Trash Dumping or Illegal Dumpsite</td></tr>
      <tr><td>Add A Can</td></tr>
      <tr><td>Storm Debris Collection</td></tr>
      <tr><td>Dead Animal Collection</td></tr>
      <tr><td>Add A Can CANCELLATION</td></tr>
      <tr><td>Personnel or Vehicle Complaint</td></tr>
      <tr><td>Physically Challenged Pickup</td></tr>
    </table>
  </body>
</html>
