<table>
  <h3>Southeast Quadrant</h3>
  <tr>
    <th>Service Request Type</th>
    <th>SE-Total SR</th>
    <th>SE-Outstanding</th>
    <th>SE-%Overdue</th>
    <th>SE-Not Overdue</th>
    <th>SE-Grade</th>
  </tr>
  <tr><td>Missed Heavy Trash Pickup</td>
    <td><%=@missedHvySETotal%></td>
    <td><%=@missedHvySEOverdue%></td>
    <td><%=@missedHvySEPercentOverdue%></td>
    <td><%=@missedHvySEPercentNotOverdue%></td>
    <td><%=@missedHvySEGrade%></td>
  </tr>
  <tr>
    <td>Container Problem</td>
    <td><%=@missedConProbSETotal%></td>
    <td><%=@missedConProbSEOverdue%></td>
    <td><%=@missedConProbSEPercentOverdue%></td>
    <td><%=@missedConProbSEPercentNotOverdue%></td>
    <td><%=@missedConProbSEGrade%></td>
  </tr>
  <tr>
    <td>New Resident Container</td>
    <td><%=@missedNewResSETotal%></td>
    <td><%=@missedNewResSEOverdue%></td>
    <td><%=@missedNewResSEPercentOverdue%></td>
    <td><%=@missedNewResSEPercentNotOverdue%></td>
    <td><%=@missedNewResSEGrade%></td>
  </tr>
  <tr>
    <td>Recycling Participation NEW</td>
    <td><%=@missedRecNewSETotal%></td>
    <td><%=@missedRecNewSEOverdue%></td>
    <td><%=@missedRecNewSEPercentOverdue%></td>
    <td><%=@missedRecNewSEPercentNotOverdue%></td>
    <td><%=@missedRecNewSEGrade%></td>
  </tr>
  <tr>
    <td>Recycling Cart Repair or Replace</td>
    <td><%=@missedRecCarRepSETotal%></td>
    <td><%=@missedRecCarRepSEOverdue%></td>
    <td><%=@missedRecCarRepSEPercentOverdue%></td>
    <td><%=@missedRecCarRepSEPercentNotOverdue%></td>
    <td><%=@missedRecCarRepSEGrade%></td>
  </tr>
  <tr>
    <td>SWM Escalation</td>
    <td><%=@missedSWMEscaSETotal%></td>
    <td><%=@missedSWMEscaSEOverdue%></td>
    <td><%=@missedSWMEscaSEPercentOverdue%></td>
    <td><%=@missedSWMEscaSEPercentNotOverdue%></td>
    <td><%=@missedSWMEscaSEGrade%></td>
  </tr>
  <tr>
    <td>Missed Garbage Pickup</td>
    <td><%=@missedMisGarbSETotal%></td>
    <td><%=@missedMisGarbSEOverdue%></td>
    <td><%=@missedMisGarbSEPercentOverdue%></td>
    <td><%=@missedMisGarbSEPercentNotOverdue%></td>
    <td><%=@missedMisGarbSEGrade%></td>
  </tr>
  <tr>
    <td>Trash Dumping or Illegal Dumpsite</td>
    <td><%=@missedTrashDumpSETotal%></td>
    <td><%=@missedTrashDumpSEOverdue%></td>
    <td><%=@missedTrashDumpSEPercentOverdue%></td>
    <td><%=@missedTrashDumpSEPercentNotOverdue%></td>
    <td><%=@missedTrashDumpSEGrade%></td>
  </tr>
  <tr>
    <td>Add A Can</td>
    <td><%=@missedAddACanSETotal%></td>
    <td><%=@missedAddACanSEOverdue%></td>
    <td><%=@missedAddACanSEPercentOverdue%></td>
    <td><%=@missedAddACanSEPercentNotOverdue%></td>
    <td><%=@missedAddACanSEGrade%></td>
  </tr>
  <tr>
    <td>Missed Recycling Pickup</td>
    <td><%=@missedMisRecPicUpSETotal%></td>
    <td><%=@missedMisRecPicUpSEOverdue%></td>
    <td><%=@missedMisRecPicUpSEPercentOverdue%></td>
    <td><%=@missedMisRecPicUpSEPercentNotOverdue%></td>
    <td><%=@missedMisRecPicUpSEGrade%></td>
  </tr>
  <tr>
    <td>Storm Debris Collection</td>
    <td><%=@missedStormDebSETotal%></td>
    <td><%=@missedStormDebSEOverdue%></td>
    <td><%=@missedStormDebSEPercentOverdue%></td>
    <td><%=@missedStormDebSEPercentNotOverdue%></td>
    <td><%=@missedStormDebSEGrade%></td>
  </tr>
  <tr>
    <td>Dead Animal Collection</td>
    <td><%=@missedDeadAniColSETotal%></td>
    <td><%=@missedDeadAniColSEOverdue%></td>
    <td><%=@missedDeadAniColSEPercentOverdue%></td>
    <td><%=@missedDeadAniColSEPercentNotOverdue%></td>
    <td><%=@missedDeadAniColSEGrade%></td>
  </tr>
  <tr>
    <td>Add A Can CANCELLATION</td>
    <td><%=@missedAddACanCancelSETotal%></td>
    <td><%=@missedAddACanCancelSEOverdue%></td>
    <td><%=@missedAddACanCancelSEPercentOverdue%></td>
    <td><%=@missedAddACanCancelSEPercentNotOverdue%></td>
    <td><%=@missedAddACanCancelSEGrade%></td>
  </tr>
  <tr>
    <td>Personnel or Vehicle Complaint</td>
    <td><%=@missedPOrVCompSETotal%></td>
    <td><%=@missedPOrVCompSEOverdue%></td>
    <td><%=@missedPOrVCompSEPercentOverdue%></td>
    <td><%=@missedPOrVCompSEPercentNotOverdue%></td>
    <td><%=@missedPOrVCompSEGrade%></td>
  </tr>
  <tr>
    <td>Physically Challenged Pickup</td>
    <td><%=@missedPhyChaPikSETotal%></td>
    <td><%=@missedPhyChaPikSEOverdue%></td>
    <td><%=@missedPhyChaPikSEPercentOverdue%></td>
    <td><%=@missedPhyChaPikSEPercentNotOverdue%></td>
    <td><%=@missedPhyChaPikSEGrade%></td>
  </tr>
  <tr>
    <td>Quad  Total</td>
    <td><%=@SEQuadSrTotal%></td>
    <td><%=@SEQuadSrOverdue%></td>
    <td><%=@SEQuadPercentOverdue%></td>
    <td><%=@SEQuadPercentNotOverdue%></td>
    <td><%=@SEQuadQualityGrade%></td>
  </tr>
</table>
