<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag"http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" %>
    <%= stylesheet_link_tag"http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" %>
    <%= stylesheet_link_tag"http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" %>
    <%= javascript_include_tag"http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" %>
    <%= javascript_include_tag"http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js" %>
    <%= javascript_include_tag"http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js" %>
    <!-- Load Esri Leaflet Geocoder from CDN -->
    <%= stylesheet_link_tag"https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"%>
    <%= javascript_include_tag"https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"%>
    <%= stylesheet_link_tag"https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"%>
    <%= javascript_include_tag"https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"%>

  </head>

  <body>
    <h1>2nd Thursday of the Month: Overdue Heavy Trash </h1>
    <div id="map" style="width: 800px; height: 500px; border: 1px solid #AAA;"></div>
      <%= javascript_include_tag "leaf-demo"%>
      <%=javascript_include_tag "second-thurs-OverdueHvy"%>
  </body>
</html>
